body {
  background-color: #f4f4f4;
}
html, body {
  font-family: Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  background: #eef6fa;
}

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  width: 80vw;
}
.flex-child {
   margin:0px 10px 0 10px;
  background: #329cf7;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 3em; 
  line-height: 280px;
  margin-top: 20px;
  animation: colorplay 8s linear infinite;
}
.flex-child-fluid {
  flex: 1;
  height: 295px;
}

.flex-child-fixed {
  width: 295px;
  height: 295px;
}

@keyframes colorplay {
  0% {background: hsl(208, 78%, 65%);}
  5% {background: hsl(208, 78%, 65%);}
  50% {background: hsl(242, 86%, 57%);}
  60% {background: hsl(242, 86%, 57%);}
  100% {background: hsl(208, 78%, 65%);}
}
